@using DataAccess.Model
@model List<TicketStatus>

@foreach (TicketStatus s in ViewBag.statuses)
{
    <tr data-id="@s.Id">
        <td>
            @s.Title
        </td>
        <td>
            @s.Description
        </td>
        <td>
            @if (s.Deletable)
            {
                <a href="@Url.Action("Detail", "TicketStatus", new {id = s.Id})" class="btn btn-primary">Editovat</a>
                <a href="@Url.Action("Delete", "TicketStatus", new {id = s.Id})" class="btn btn-danger">Smazat</a>
            }
        </td>
    </tr>
}