@using DataAccess.Model
@model List<DataAccess.Model.Equipment>
@{
    ViewBag.Title = "Vybavení";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Přehled vybavení</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Kód</th>
                            <th>Název</th>
                            <th>Umístění</th>
                            <th>Záruka vyprší</th>
                            <th>Stav</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Equipment e in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Equipment", new {id = e.Id})">@e.Code</a>
                                </td>
                               
                                <td>
                                    <a href="@Url.Action("Detail", "Equipment", new {id = e.Id})">@e.Title</a>
                                </td>
                                <td>
                                    @if (@e.Room != null)
                                    {
                                        <span>@e.Room.Name (@e.Room.Environment.Name)</span>
                                    }
                                    else
                                    {
                                        <span>Neuvedeno</span>
                                    }
                                </td>
                                <td>@e.Warranty</td>
                                <td>@e.Status.Title</td>
                                <td>
                                    <a href="@Url.Action("Detail", "Equipment", new {id = e.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Delete", "Equipment", new {id = e.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>