@using DataAccess.Model
@model List<DataAccess.Model.Room>
<div id="roomsTable">
    <table class="table table-bordered roomsTable">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Označení</th>
            <th>Prostředí</th>
            <th>Kategorie</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Room r in Model)
        {
            <tr>
                <td>
                    <input
                        @if (ViewBag.roomSelected == r.Id)
                        {<text>checked="checked"</text>}
                        name="equipmentId" type="radio" name="roomRadio" class="room-radio" value="@r.Id"/>
                </td>
                <td>

                    <a target="_blank" href="@Url.Action("Detail", "Room", new {id = r.Id})"> @r.Id (@r.Code)</a>
                </td>
                <td>
                    <a target="_blank" href="@Url.Action("Detail", "Room", new {id = r.Id})">@r.Name</a>
                </td>
                <td>
                    <a target="_blank" href="@Url.Action("Detail", "Environment", new {id = r.Environment.Id})">@r.Environment.Name</a>
                </td>
                <td>@r.Category.Title</td>
            </tr>
        }

        </tbody>
    </table>
    <input type="hidden" name="roomIdd" id="roomIdd"/>
</div>

<script>
    $('#roomIdd').val($('.room-radio:checked').val());
    $('.room-radio').click(function() {
        console.log("dsa");
        $('#roomIdd').val($(this).val());
    });
</script>