@using DataAccess.Model
@model List<DataAccess.Model.Equipment>
<div id="equipmentsTable">
    <table class="table table-bordered equipmentsTable">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Označení</th>
            <th>Lokace</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Equipment e in Model)
        {
            <tr>
                <td><input name="equipmentId" type="radio" value="@e.Id"/></td>
                <td> @e.Id (@e.Code)</td>
                <td>@e.Title</td>
                <td>@e.Room.Name (@e.Room.Environment.Name)</td>
                <td>@e.Status.Title</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>

</script>