@using System.Net.Sockets
@using DataAccess.Model
@model List<DataAccess.Model.Ticket>
@{
    ViewBag.Title = "Evidované problémy";
}
<div class="row">
    <div class="col-12 mb-4">
        <a href="@Url.Action("Add", "Ticket")" class="btn btn-danger btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-bug"></i>
            </span>
            <span class="text">Nahlásit problém</span>
        </a>
        @if (User.IsInRole("admin") || User.IsInRole("manager"))
        {
            <a href="@Url.Action("Index", "TicketCategory")" class="btn btn-info btn-icon-split btn-lg mr-2">
                <span class="icon text-white-50">
                    <i class="fas fa-pen"></i>
                </span>
                <span class="text">Spravovat kategorie</span>
            </a>
            <a href="@Url.Action("Index", "TicketStatus")" class="btn btn-info btn-icon-split btn-lg mr-2">
                <span class="icon text-white-50">
                    <i class="fas fa-pen"></i>
                </span>
                <span class="text">Spravovat stavy</span>
            </a>
        }
        <a href="@Url.Action("Archive", "Ticket")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-list"></i>
            </span>
            <span class="text">Archiv</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Přehled tiketů</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Název</th>
                            <th>Kategorie</th>
                            @if (User.IsInRole("admin") || User.IsInRole("manager"))
                            {
                                <th>Přiděleno</th>
                            }
                            <th>Přidal</th>
                            <th>Status</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Ticket t in Model)
                        {
                            <tr data-ticketId="@t.Id">
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Id</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Title</a>
                                </td>

                                <td>@t.Category.Title</td>
                                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                                {
                                    <td>
                                        @if (t.Assigned == null)
                                        {
                                            <a href="#" data-toggle="modal" data-ticket-id="@t.Id" data-target="#assignModal" class="btn btn-primary assign-button">Přidělit</a>
                                        }
                                        else
                                        {
                                            <a target="_blank" href="@Url.Action("Detail", "User", new {id = t.Assigned.Id})">@t.Assigned.FullName</a>
                                        }
                                    </td>
                                }
                                <td>
                                    <a target="_blank" href="@Url.Action("Detail", "User", new {id = t.Author.Id})">@t.Author.FullName</a>
                                    @t.Created.Value.ToString("dd. MM. yyyy - H : mm")
                                </td>
                                <td>
                                    @if (User.IsInRole("manager") || User.IsInRole("admin"))
                                    {
                                        var list = new SelectList(ViewBag.statuses, "Id", "Title", t.Status.Id).ToList();
                                        if (t.Assigned == null)
                                        {
                                            list.RemoveAt(1);
                                        }
                                        @Html.DropDownList("statusId", list, new {@class = "form-control status-change"})
                                    }
                                    else
                                    {
                                        @t.Status.Title
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Archivate", "Ticket", new {id = t.Id})" class="btn btn-warning">Archivovat</a>
                                    <a href="@Url.Action("Delete", "Ticket", new {id = t.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Přidělit</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Přiřadit problém pracovníkovi:</label>
                @Html.DropDownList("assignId", new SelectList(ViewBag.maintainers, "Id", "UserInfo"), new {@class = "form-control searchSelect", id = "assignId"})
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary save-assign" type="button" data-dismiss="modal">Přiřadit</button>
            </div>
        </div>
    </div>
</div>
<div id="modalPlaceholder"></div>
<script>
    var ticketId;

    function assignUser() {
        var userId = $('#assignId').val();
        console.log(userId);
        $.ajax({
            url: "@Url.Action("AssignUser", "Ticket")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function(res) {
                location.reload();
            },
            error: function(err) {
                console.log(err);
            },
            data: {
                ticketId: ticketId,
                userId: userId
            }
        });
    }

    function saveStatus(ticketId, statusId) {
        console.log(ticketId);
        console.log(statusId);
        $.ajax({
            url: "@Url.Action("SaveStatus", "Ticket")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function(res) {
                console.log(res);
                console.log("sddd");
                $('#modalPlaceholder').html(res);
                $('#statusModal').modal("show");
            },
            error: function(err) {
                console.log(err);
            },
            data: {
                ticketId: ticketId,
                statusId: statusId
            }
        });
    }

    $('.status-change').on('change',
        function() {
            console.log("DDD");
            var ticketId = $(this).parents('tr').data('ticketid');
            console.log(ticketId);
            saveStatus(ticketId, $(this).val());
        });

    $('.save-assign').on('click',
        function() {
            console.log("DDD");
            assignUser();
        });

    $('.assign-button').click(function() {
        ticketId = $(this).data('ticket-id');
    });
</script>