@using System.Net.Sockets
@using DataAccess.Model
@model List<DataAccess.Model.Ticket>
@{
    ViewBag.Title = "Evidované problémy";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Přehled tiketů</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Název</th>
                            <th>Popis</th>
                            <th>Kategorie</th>
                            <th>Přiděleno</th>
                            <th>Status</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Ticket t in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Id</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Title</a>
                                </td>
                                <td>@t.Description</td>
                                <td>@t.Category.Title</td>
                                <td>
                                    @if (t.Assigned == null)
                                    {
                                        <a href="#" class="btn btn-primary">Přidělit</a>
                                    }
                                    else
                                    {
                                        @t.Assigned.FullName
                                    }
                                </td>
                                <td>
                                    @t.Status.Title
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Delete", "Ticket", new {id = t.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>