@using DataAccess.Model
@model List<EnvironmentCategory>

@foreach (EnvironmentCategory c in ViewBag.categories)
{
    <tr data-id="@c.Id">
        <td>
            <a href="@Url.Action("Detail", "EnvironmentCategory", new {id = c.Id})">@c.Title</a>
        </td>
        <td>
            @c.Description
        </td>
        <td>
            @if (c.Deletable)
            {
                <a href="@Url.Action("Detail", "EnvironmentCategory", new {id = c.Id})" class="btn btn-primary">Editovat</a>
                <a href="@Url.Action("Delete", "EnvironmentCategory", new {id = c.Id})" class="btn btn-danger">Smazat</a>
            }
        </td>
    </tr>
}