@using DataAccess.Model
@using DataAccess.Dao
@model DataAccess.Model.Control
@{
    ViewBag.Title = "Naplánovat kontrolu";
}
@using (Html.BeginForm("Create", "Control", FormMethod.Post))
{
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Zadejte údaje</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Titulek:</label>
                        @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>
                    <div class="form-group">
                        <label for="password">Vybavení:</label>
                        @{
                            var list = new SelectList(ViewBag.equipments, "Id", "BaseInfo").ToList();
                            list.Insert(0, new SelectListItem { Value = "", Text = "Žádný"});
                        }
                        @Html.DropDownList("equipmentId", list, new {@class = "form-control searchSelect"})
                        @Html.ValidationMessageFor(x => x.Equipment)
                    </div>
                    <div class="form-group">
                        <label for="name">Popis a účel:</label>
                        @Html.TextAreaFor(x => x.Description, new {@class = "form-control "})
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                    <div class="form-group">
                        <label for="name">Kategorie: (<a href="@Url.Action("Index", "ControlCategory")">Přidat</a>)</label>
                        @Html.DropDownList("categoryId", new SelectList(ViewBag.categories, "Id", "Title"), new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Category)
                    </div>
                    <div class="form-group">
                        <label for="email">Deadline:</label>
                        @Html.TextBoxFor(x => x.DatePlanned, "{0:d}", new {@class = "form-control date-picker"})
                        @Html.ValidationMessageFor(x => x.DatePlanned)
                    </div>
                    <div class="form-group">
                        <label for="email">Delegovat uživateli:</label>
                        @Html.DropDownList("userId", new SelectList(ViewBag.users, "Id", "UserInfo"), new {@class = "form-control searchSelect"})
                        @Html.ValidationMessageFor(x => x.UserToPerform)
                    </div>
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Vytvořit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}