@using DataAccess.Model

@model List<DataAccess.Model.Control>
@{
    ViewBag.Title = "Naplánované kontroly";
}
<div class="row">
    <div class="col-12 mb-4">
        <a href="@Url.Action("Add", "Control")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Přidat kontrolu</span>
        </a>
        <a href="@Url.Action("Index", "ControlCategory")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-pen"></i>
            </span>
            <span class="text">Spravovat kategorie</span>
        </a>
        <a href="@Url.Action("Index", "ControlStatus")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-pen"></i>
            </span>
            <span class="text">Spravovat stavy</span>
        </a>
        <a href="@Url.Action("Archive", "Control")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-list"></i>
            </span>
            <span class="text">Archiv</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Kontroly v systému</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Deadline</th>
                            <th>Zodpovědný</th>
                            <th>Týká se</th>
                            <th>Stav</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataAccess.Model.Control c in Model)
                        {
                            <tr data-controlId="@c.Id">
                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})">@c.Title</a>
                                </td>
                                <td>@c.DatePlanned.Value.ToString("d. M. yyyy")</td>
                                <td>
                                    <a href="@Url.Action("Detail", "User", new {id = c.Id})">@c.UserToPerform.FullName</a>
                                </td>
                                <td>
                                    @if (c.Equipment != null)
                                    {
                                        <a href="@Url.Action("Detail", "Equipment", new {id = c.Id})">@c.EquipmentInfo</a>
                                    }
                                    else
                                    {
                                        <span>@c.EquipmentInfo</span>
                                    }
                                </td>
                                <td>
                                    @Html.DropDownList("statusId", new SelectList(ViewBag.statuses, "Id", "Title", c.Status.Id), new {@class = "form-control status-change"})
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Archivate", "Control", new {id = c.Id})" class="btn btn-warning">Archivovat</a>
                                    <a href="@Url.Action("Delete", "Control", new {id = c.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalPlaceholder"></div>
<script>
    function saveStatus(controlId, statusId) {
        console.log(controlId);
        console.log(statusId);
        $.ajax({
            url: "@Url.Action("SaveStatus", "Control")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function(res) {
                console.log(res);
                console.log("sddd");
                $('#modalPlaceholder').html(res);
                $('#statusModal').modal("show");
            },
            error: function(err) {
                console.log(err);
            },
            data: {
                controlId: controlId,
                statusId: statusId
            }
        });
    }

    $('.status-change').on('change',
        function() {
            console.log("DDD");
            var controlId = $(this).parents('tr').data('controlid');
            saveStatus(controlId, $(this).val());
        });
</script>