@using DataAccess.Model
@model List<TicketCategory>

@foreach (TicketCategory c in ViewBag.categories)
{
    <tr data-id="@c.Id">
        <td>
            @c.Title
        </td>
        <td>
            @c.Description
        </td>
        <td>
            
            @if (c.Deletable)
            {
                <a href="@Url.Action("Detail", "TicketCategory", new {id = c.Id})" class="btn btn-primary">Editovat</a>
                <a href="@Url.Action("Delete", "TicketCategory", new {id = c.Id})" class="btn btn-danger">Smazat</a>
            }
        </td>
    </tr>
}