@using DataAccess.Model
@model List<EquipmentCategory>

@foreach (EquipmentCategory c in ViewBag.categories)
{
    <tr data-id="@c.Id">
        <td>
            @c.Title
        </td>
        <td>
            @c.Description
        </td>
        <td>
            <a href="@Url.Action("Detail", "EquipmentCategory", new {id = c.Id})" class="btn btn-primary">Editovat</a>
            <a href="@Url.Action("Delete", "EquipmentCategory", new {id = c.Id})" class="btn btn-danger">Smazat</a>
        </td>
    </tr>
}