@model DataAccess.Model.User
@{
    ViewBag.Title = Model.FullName;
}
<div class="row">
    <div class="col-12 mb-4">
        <a href="@Url.Action("Profile", "User", new {Id = Model.Id})" class="btn btn-primary btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-bug"></i>
            </span>
            <span class="text">Zobrazit povinnosti</span>
        </a>
    </div>
</div>
@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Osobní údaje</h6>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="name">Jméno:</label>
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label for="name">Příjmení:</label>
                        @Html.TextBoxFor(x => x.Surname, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Surname)
                    </div>
                    <div class="form-group">
                        <label for="name">Povolání:</label>
                        @Html.TextBoxFor(x => x.Profession, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Profession)
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div class="form-group">
                        <label for="email">Telefon:</label>
                        @Html.TextBoxFor(x => x.Phone, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Phone)
                    </div>
                    <div class="form-group">
                        <label for="password">Heslo:</label>
                        @Html.TextBoxFor(x => x.Password, new {@class = "form-control", @type = "password"})
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        @Html.DropDownList("roleId", new SelectList(ViewBag.roles, "Id", "Title"), new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Role)
                    </div>
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Uložit</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Kontaktní údaje</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Ulice:</label>
                        @Html.TextBoxFor(x => x.Address.Street, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.Street)
                    </div>
                    <div class="form-group">
                        <label for="name">Město:</label>
                        @Html.TextBoxFor(x => x.Address.City, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.City)
                    </div>
                    <div class="form-group">
                        <label for="email">PSČ: </label>
                        @Html.TextBoxFor(x => x.Address.Zip, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.Zip)
                    </div>
                    <div class="form-group">
                        <label for="email">Stát: </label>
                        @Html.TextBoxFor(x => x.Address.State, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.State)
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}