@using DataAccess.Model
@model List<DataAccess.Model.User>
@{
    ViewBag.Title = "Uživatelé";
    ViewBag.Icon = "fas fa-users";
}
<div class="row">
    <div class="col-12 mb-4">
        <a href="@Url.Action("Add", "User")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Přidat uživatele</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
    
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Přehled uživatelů</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Jméno</th>
                            <th>Role</th>
                            <th>Povolání</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (User u in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "User", new {id = u.Id})">@u.Name @u.Surname</a>
                                </td>
                                <td>@u.Role.Title</td>
                                <td>@u.Profession</td>
                                <td>
                                    <a href="@Url.Action("Detail", "User", new {id = u.Id})" class="btn btn-primary">Detail</a>
                                    @if (u.Deletable)
                                    {
                                        <a href="@Url.Action("Delete", "User", new {id = u.Id})" class="btn btn-danger">Smazat</a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>