@using DataAccess.Model
@model DataAccess.Model.User
@{
    ViewBag.Title = Model.FullName + " - Profil";
}
<div class="row">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Kontroly</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Popis</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataAccess.Model.Control c in Model.AssignedControls)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})">@c.Title</a></td>
                                <td>@c.Description</td>
                                <td>@c.Status.Title</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Opravy</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Popis</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Ticket t in Model.AssignedTickets)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Title</a>
                                </td>
                                <td>@t.Description</td>
                                <td>@t.Status.Title</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>