@using DataAccess.Model
@model DataAccess.Model.Room
@{
    ViewBag.Title = "Přidat místnost";
}
@using (Html.BeginForm("Create", "Room", FormMethod.Post))
{
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Zadejte údaje</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Prostředí:</label>
                        @Html.DropDownList("environmentId", new SelectList(ViewBag.environments, "Id", "Name"), new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Environment)
                    </div>
                    <div class="form-group">
                        <label for="name">Podlaží:</label>
                        @Html.TextBoxFor(x => x.Floor, new {@class = "form-control", @type="number"})
                        @Html.ValidationMessageFor(x => x.Floor)
                    </div>
                    <div class="form-group">
                        <label for="name">Jméno:</label>
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label for="name">Popis:</label>
                        @Html.TextAreaFor(x => x.Purpouse, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Purpouse)
                    </div>
                    <div class="form-group">
                        <label for="name">Kategorie: (<a href="@Url.Action("Index", "RoomCategory")">Přidat</a>)</label>
                        @Html.DropDownList("categoryId", new SelectList(ViewBag.categories, "Id", "Title"), new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Category)
                    </div>
                    <div class="form-group">
                        <label for="name">Kód:</label>
                        @Html.TextBoxFor(x => x.Code, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Vytvořit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}