@using DataAccess.Model
@model DataAccess.Model.Room
@{
    ViewBag.Title = "Místnost - " + Model.Name;
}
<div class="row">
    <div class="col-12 mb-3">
        <a href="@Url.Action("Delete", "Room", new {id = Model.Id})" class="btn btn-danger btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="far fa-times-circle"></i>
            </span>
            <span class="text">Odstranit</span>
        </a>
    </div>
</div>
@using (Html.BeginForm("Edit", "Room", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Údaje</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Prostředí:</label>
                        @Html.DropDownList("environmentId", new SelectList(ViewBag.environments, "Id", "Name", Model.Environment.Id), new {@class = "form-control searchSelect"})
                        @Html.ValidationMessageFor(x => x.Environment)
                    </div>
                    <div class="form-group">
                        <label for="name">Podlaží:</label>
                        @Html.TextBoxFor(x => x.Floor, new {@class = "form-control", @type = "number"})
                        @Html.ValidationMessageFor(x => x.Floor)
                    </div>
                    <div class="form-group">
                        <label for="name">Jméno:</label>
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label for="name">Popis:</label>
                        @Html.TextAreaFor(x => x.Purpouse, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Purpouse)
                    </div>
                    <div class="form-group">
                        <label for="name">Kategorie: (<a href="@Url.Action("Index", "RoomCategory")">Přidat</a>)</label>
                        @Html.DropDownList("categoryId", new SelectList(ViewBag.categories, "Id", "Title", Model.Category.Id), new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Category)
                    </div>
                    <div class="form-group">
                        <label for="name">Kód:</label>
                        @Html.TextBoxFor(x => x.Code, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Uložit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Přítomné vybavení</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Kód</th>
                                <th>Název</th>
                                <th>Status</th>
                                <th>Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (Equipment e in ViewBag.equipments)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Detail", "Equipment", new {id = e.Id})">@e.Code</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Detail", "Equipment", new {id = e.Id})">@e.Title</a>
                                    </td>
                                    <td>@e.Status.Title</td>
                                    <td>
                                        <a href="@Url.Action("Add", "Ticket", new {id = e.Id})" class="btn btn-warning">Nahlásit problém</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}