@using DataAccess.Model
@model List<DataAccess.Model.Room>
@{
    ViewBag.Title = "Místnosti";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Přehled místností</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Kód</th>
                            <th>Název</th>
                            <th>Účel</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Room r in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "User", new {id = r.Id})">@r.Code</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "User", new {id = r.Id})">@r.Name</a>
                                </td>
                                <td>@r.Purpouse</td>
                                <td>
                                    <a href="@Url.Action("Detail", "User", new {id = r.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Delete", "User", new {id = r.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>