@using DataAccess.Model
@model List<EquipmentStatus>

@foreach (EquipmentStatus s in ViewBag.statuses)
{
    <tr data-id="@s.Id">
        <td>
            @s.Title
        </td>
        <td>
            @s.Description
        </td>
        <td>
            @if (s.Deletable)
            {
                <a href="@Url.Action("Detail", "EquipmentStatus",new {id = s.Id})" class="btn btn-primary">Editovat</a>
                <a href="@Url.Action("Delete", "EquipmentStatus", new {id = s.Id})" class="btn btn-danger">Smazat</a>
            }
        </td>
    </tr>
}