@using DataAccess.Model
@model DataAccess.Model.Environment
@{
    ViewBag.Title = "Prostředí - " + Model.Name;
}
@using (Html.BeginForm("Create", "Environment", FormMethod.Post))
{
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Zadejte údaje</h6>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="name">Titulek:</label>
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label for="name">Popis:</label>
                        @Html.TextAreaFor(x => x.Description, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                    <div class="form-group">
                        <label for="name">Kód:</label>
                        @Html.TextBoxFor(x => x.Code, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Uložit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Adresa</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Ulice:</label>
                        @Html.TextBoxFor(x => x.Address.Street, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.Street)
                    </div>
                    <div class="form-group">
                        <label for="name">Město:</label>
                        @Html.TextBoxFor(x => x.Address.City, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.City)
                    </div>
                    <div class="form-group">
                        <label for="email">PSČ: </label>
                        @Html.TextBoxFor(x => x.Address.Zip, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.Zip)
                    </div>
                    <div class="form-group">
                        <label for="email">Stát: </label>
                        @Html.TextBoxFor(x => x.Address.State, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Address.State)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Místnosti</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Kód</th>
                            <th>Název</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Room r in Model.Rooms)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Room", new {id = r.Id})">
                                        @r.Code
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Room", new {id = r.Id})">
                                        @r.Name
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Room", new {id = r.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Delete", "Room", new {id = r.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}