@using DataAccess.Model
@using Environment = DataAccess.Model.Environment
@model List<DataAccess.Model.Environment>
@{
    ViewBag.Title = "Prostředí";
}
<div class="row">
    <div class="col-12 mb-4">
        <a href="@Url.Action("Add", "Environment")" class="btn btn-info btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Přidat prostředí</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Přehled prostředí</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Kód</th>
                            <th>Název</th>
                            <th>Popis</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Environment e in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Environment", new {id = e.Id})">@e.Code</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Environment", new {id = e.Id})">@e.Name</a>
                                </td>
                                <td>
                                    @e.Description
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Environment", new {id = e.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Delete", "Environment", new {id = e.Id})" class="btn btn-danger">Smazat</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>