@using DataAccess.Dao
@using DataAccess.Model
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-12 mb-5">
        <a href="@Url.Action("Add", "Ticket")" class="btn btn-danger btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-bug"></i>
            </span>
            <span class="text">Nahlásit problém</span>
        </a>
        <a href="@Url.Action("Index", "Ticket")" class="btn bg-warning btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-bug"></i>
            </span>
            <span class="text text-white">Přehled problémů</span>
        </a>
        <a href="@Url.Action("Add", "Control")" class="btn btn-primary btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-calendar-check"></i>
            </span>
            <span class="text">Naplánovat kontrolu</span>
        </a>
        <a href="@Url.Action("Add", "Equipment")" class="btn btn-success btn-icon-split btn-lg">
            <span class="icon text-white-50">
                <i class="fas fa-cash-register"></i>
            </span>
            <span class="text">Přidat vybavení</span>
        </a>
    </div>
</div>
<div class="row"> 
    <div class="col-xl-3 col-md-6">
        <div class="card border-left-danger shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Nahlášené problémy bez řešitele</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.openTickets.Count</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bug fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card border-left-warning shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Řešené a přiřazené problémy</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.solvingTickets.Count</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bug fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card border-left-primary shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Naplánované kontroly</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.plannedControls.Count</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-cash-register fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Naplánované kontroly</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                     <table class="table table-bordered dataTable" id="dataTable" width="100%">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Deadline</th>
                            <th>Zodpovědný</th>
                            <th>Týká se</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataAccess.Model.Control c in ViewBag.plannedControls)
                        {
                            <tr data-controlId="@c.Id">
                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})">@c.Title</a>
                                </td>
                                <td>@c.DatePlanned.Value.ToString("dd. MM. yyyy")</td>
                                <td>
                                    <a target="_blank" href="@Url.Action("Detail", "User", new {id = c.UserToPerform.Id})">@c.UserToPerform.FullName</a>
                                </td>
                                <td>
                                    @if (c.Equipment != null)
                                    {
                                        <a target="_blank" href="@Url.Action("Detail", "Equipment", new {id = c.Equipment.Id})">@c.EquipmentInfo</a>
                                    }
                                    else
                                    {
                                        <span>@c.EquipmentInfo</span>
                                    }
                                </td>

                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})" class="btn btn-primary">Detail</a>
                                @if (c.Status.Id != ControlStatusDao.Constants.DONE && ViewBag.User.Id == c.UserToPerform.Id)
                                {
                                    <a href="@Url.Action("SetDone", "Control", new {id = c.Id})" class="btn btn-success">Provedeno</a>
                                }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Otevřené problémy</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Název</th>
                            <th>Kategorie</th>
                            @if (User.IsInRole("admin") || User.IsInRole("manager"))
                            {
                                <th>Přiděleno</th>
                            }
                            <th>Přidal</th>
                            <th>Status</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Ticket t in ViewBag.openTickets)
                        {
                            <tr data-ticketId="@t.Id">
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Id</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Title</a>
                                </td>

                                <td>@t.Category.Title</td>
                                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                                {
                                    <td>
                                        @if (t.Assigned == null)
                                        {
                                            <a href="#" data-toggle="modal" data-ticket-id="@t.Id" data-target="#assignModal" class="btn btn-primary assign-button">Přidělit</a>
                                        }
                                        else
                                        {
                                            <a target="_blank" href="@Url.Action("Detail", "User", new {id = t.Assigned.Id})">@t.Assigned.FullName</a>
                                        }
                                    </td>
                                }
                                <td>
                                    <a target="_blank" href="@Url.Action("Detail", "User", new {id = t.Author.Id})">@t.Author.FullName</a>
                                    @t.Created.Value.ToString("dd. MM. yyyy - H : mm")
                                    </td>
                                <td>
                                    @if (User.IsInRole("manager") || User.IsInRole("admin"))
                                    {
                                            var list = new SelectList(ViewBag.statuses, "Id", "Title",t.Status.Id).ToList();
                                            if (t.Assigned == null)
                                            {
                                                list.RemoveAt(1);
                                            }                
                                        @Html.DropDownList("statusId", list, new {@class = "form-control status-change"})
                                    }                                                             
                                    else
                                    {
                                        @t.Status.Title
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})" class="btn btn-primary">Detail</a>
                                    <a href="@Url.Action("Archivate", "Ticket", new {id = t.Id})" class="btn btn-warning">Archivovat</a>
                                    <a href="@Url.Action("Delete", "Ticket", new {id = t.Id})" class="btn btn-danger">Smazat</a>
                                    @if (t.Status.Id != TicketStatusDao.Constants.SOLVED && t.Assigned != null && ViewBag.User.Id == t.Assigned.Id)
                                    {
                                        <a href="@Url.Action("SetDone", "Ticket", new {id = t.Id})" class="btn btn-success">Opraveno</a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Přidělit</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Přiřadit problém pracovníkovi:</label>
                @Html.DropDownList("assignId", new SelectList(ViewBag.maintainers, "Id", "UserInfo"), new {@class = "form-control searchSelect", id = "assignId"})
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary save-assign" type="button" data-dismiss="modal">Přiřadit</button>
            </div>
        </div>
    </div>
</div>
<div id="modalPlaceholder"></div>
<script>
    var ticketId;

    function assignUser() {
        var userId = $('#assignId').val();
        console.log(userId);
        $.ajax({
            url: "@Url.Action("AssignUser", "Ticket")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function(res) {
                location.reload();
            },
            error: function(err) {
                console.log(err);
            },
            data: {
                ticketId: ticketId,
                userId: userId
            }
        });
    }

    function saveStatus(ticketId, statusId) {
        console.log(ticketId);
        console.log(statusId);
        $.ajax({
            url: "@Url.Action("SaveStatus", "Ticket")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function(res) {
                console.log(res);
                console.log("sddd");
                $('#modalPlaceholder').html(res);
                $('#statusModal').modal("show");
            },
            error: function(err) {
                console.log(err);
            },
            data: {
                ticketId: ticketId,
                statusId: statusId
            }
        });
    }

    $('.status-change').on('change',
        function() {
            console.log("DDD");
            var ticketId = $(this).parents('tr').data('ticketid');
            console.log(ticketId);
            saveStatus(ticketId, $(this).val());
        });

    $('.save-assign').on('click',
        function() {
            console.log("DDD");
            assignUser();
        });

    $('.assign-button').click(function() {
        ticketId = $(this).data('ticket-id');
    });
</script>