@using DataAccess.Dao
@using DataAccess.Model
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-12 mb-5">
        <a href="@Url.Action("Add", "Ticket")" class="btn btn-danger btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-bug"></i>
            </span>
            <span class="text">Nahlásit problém</span>
        </a>
        <a href="@Url.Action("Index", "Ticket")" class="btn bg-warning btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-bug"></i>
            </span>
            <span class="text text-white">Přehled problémů</span>
        </a>
        <a href="@Url.Action("Add", "Control")" class="btn btn-primary btn-icon-split btn-lg mr-2">
            <span class="icon text-white-50">
                <i class="fas fa-calendar-check"></i>
            </span>
            <span class="text">Naplánovat kontrolu</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Kontroly k provedení</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Deadline</th>
                            <th>Týká se</th>
                            <th>Status</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (DataAccess.Model.Control c in ViewBag.myControls)
                        {
                            <tr data-controlId="@c.Id">
                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})">@c.Title</a>
                                </td>
                                <td>@c.DatePlanned.Value.ToString("dd. MM. yyyy")</td>
                                <td>
                                    @if (c.Equipment != null)
                                    {
                                        <a href="@Url.Action("Detail", "Equipment", new {id = c.Id})">@c.EquipmentInfo</a>
                                    }
                                    else
                                    {
                                        <span>@c.EquipmentInfo</span>
                                    }
                                </td>
                                <td>@c.Status.Title</td>
                                <td>
                                    <a href="@Url.Action("Detail", "Control", new {id = c.Id})" class="btn btn-primary">Detail</a>
                                    @if (c.Status.Id != ControlStatusDao.Constants.DONE)
                                    {
                                        <a href="@Url.Action("SetDone", "Control", new {id = c.Id})" class="btn btn-success">Provedeno</a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Opravy k provedení</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Kategorie</th>
                            <th>Status</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Ticket t in ViewBag.myTickets)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})">@t.Title</a>
                                </td>
                                <td>@t.Category.Title</td>
                                <td>
                                    @t.Status.Title
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail", "Ticket", new {id = t.Id})" class="btn btn-primary">Detail</a>
                                    @if (t.Status.Id != TicketStatusDao.Constants.SOLVED)
                                    {
                                        <a href="@Url.Action("SetDone", "Ticket", new {id = t.Id})" class="btn btn-success">Opraveno</a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>